version: '3.8'

services:
  vetorial-etl:
    image: covillabs/etl-vetorial-meta:latest
    networks:
      - public_net  # Nome interno que damos aqui no arquivo
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == worker
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
      restart_policy:
        condition: on-failure
    
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

    environment:
      - PYTHONUNBUFFERED=1
      - TZ=America/Sao_Paulo
      - META_ACCESS_TOKEN=${META_ACCESS_TOKEN}
      - META_AD_ACCOUNT_IDS=${META_AD_ACCOUNT_IDS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}

networks:
  public_net:  # Nome que usamos dentro do services
    external: true
    name: network_public  # <--- O NOME REAL QUE VIMOS NA IMAGEM