version: '3.8'

services:
  vetorial-etl:
    image: covillabs/etl-vetorial-meta:latest
    networks:
      - public # <--- Certifique-se que o HAProxy também está nesta rede
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == worker # Roda nos nós de trabalho
      resources:
        limits:
          cpus: "0.5" # Limite de 50% de um núcleo
          memory: 512M # Limite de 512MB de RAM
      restart_policy:
        condition: on-failure
    
    logging:
      driver: "json-file"
      options:
        max-size: "10m" # Limite de 10MB por arquivo de log
        max-file: "3" # Mantém apenas os últimos 3 arquivos
    
    environment:
      - TZ=America/Sao_Paulo
      # As variáveis do .env serão injetadas pelo Portainer
      - META_ACCESS_TOKEN=${META_ACCESS_TOKEN}
      - META_AD_ACCOUNT_IDS=${META_AD_ACCOUNT_IDS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
networks:
  default:
    driver: overlay
